{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Semantic UI -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" media="screen"
          rel="stylesheet" type="text/css">
    <!-- Jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!--  axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Semantic UI -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <script type="text/javascript" src="{% static 'main.js' %}"></script>

    <title>Guess name</title>
</head>
<body>

    <style>
        html, body {
            height: 100%;
        }

        #root_grid{
            height: 100%;
        }

        #photo{
            width: 100%;
        }
    </style>

    <div class="ui middle aligned stackable grid" id="root_grid">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <div class="ui stackable grid">
                <div class="eight wide column">
                    <div class="ui fluid segment">
                        <img src="#" title="person" alt="person" id="photo">
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui blue fluid segment">
                        <h3 class="ui dividing header">Уровень сложности</h3>
                        <select class="ui fluid dropdown" id="level" onchange="generate_game()">
                            <option value="0">Просто</option>
                            <option value="1">Сложненько</option>
                            <option value="2">ОГНИЩЕ</option>
                        </select>
                    </div>
                    <div class="ui blue fluid segment">
                        <h3 class="ui dividing header">Кто это?</h3>
                        <div id="user_answer_container"></div>
                    </div>
                    <div class="ui blue fluid segment">
                        <h3 class="ui dividing header">Результат</h3>
                        <div class="ui header" id="result"></div>
                    </div>
                    <div class="ui blue fluid segment">
                        <h3 class="ui dividing header">Верный ответ</h3>
                        <div class="ui header" id="answer"></div>
                    </div>
                    <div class="ui blue button" onclick="generate_game()">Следующее фото</div>
                </div>
            </div>

        </div>
        <div class="three wide column"></div>
    </div>

</body>
</html>