{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Semantic UI -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" media="screen"
          rel="stylesheet" type="text/css">
    <!-- Jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!--  axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Semantic UI -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <title>Simple RSS reader</title>
</head>
<body>

    <div class="ui center aligned padded grid" id="root_grid">
        <div class="twelve wide left aligned column">

            <form class="ui form">
                <div class="inline field">
                    <label for="channel">Choose RSS channel: </label>
                    <select class="ui dropdown" id="channel"></select>
                </div>
            </form>

            <div class="ui divider"></div>

            <div class="ui segment" id="feeds"></div>

        </div>
    </div>

</body>
</html>