{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Semantic UI -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" media="screen"
          rel="stylesheet" type="text/css">
    <!-- Jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!--  axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Semantic UI -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <title>Simple RSS reader</title>
</head>
<body>

    <style>
        img {
            display: none;
        }
        h1, h2, h3, h4, h5, h6 {
            display: none;
        }
        br {
            display: none;
        }
    </style>

    <div class="ui center aligned padded grid" id="root_grid">
        <div class="twelve wide left aligned column">

            <form class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <label for="channel">Choose RSS channel: </label>
                        <select class="ui dropdown" id="channel"></select>
                    </div>
                    <div class="field">
                        <div class="ui basic icon button" title="Reload feeds" onclick="reload_feeds()" id="reload_button">
                            <i class="sync icon"></i>
                        </div>
                    </div>
                </div>
            </form>

            <div class="ui divider"></div>

            <div class='ui divided link items' id='entries_container'></div>

            <div class="ui basic fluid button" onclick="load_feeds()" id="load_button">Load</div>

        </div>
    </div>

</body>
</html>